{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<!-- Sidebar -->
  <div class="w3-sidebar w3-bar-block w3-gray" style="width: 15%" >
  <img src="/static/images/Ketraco.png" style="width:100%">
  <div class="w3-dropdown-hover">
    <button class="w3-button">Training Materials <i class="fa fa-caret-down"></i></button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="#" class="w3-bar-item w3-button" style='color: #FA0319'>Video Tutorials</a>
      <a href="#" class="w3-bar-item w3-button" style='color: #FA0319'>Documentations</a>
    </div>
  </div>
    <a href="#" class="w3-bar-item w3-button">Reports</a>
    <a href="#" class="w3-bar-item w3-button">Evaluation</a>
  <a href="#" class="w3-bar-item w3-button">Deployment and Location</a>
  <a href="#" class="w3-bar-item w3-button">Raise an Issue</a>
  </div>

<!-- Page Content -->
<div style="margin-left:15%" style='color: #FA0319' >
<div class="w3-container w3-green">
  <h1>KIAMS PORTAL</h1>
  <div style='color: white' align = "right">  Welcome {{ user.username }}
<br>
  <a style='color: #FA0319' align = 'right' href="{% url 'interns:logout' %}">Sign Out</a>
</div>
</div>

<h1> News Feed </h1>
<p> *Current Ketraco Projects </p>
<p> *Recent Accomplishment </p>
<p> *Updates </p>

<div class="w3-container">
<p>Copyright © 2016 PDTP Secretariat- ICT Authority. All rights reserved.</p>
</div>

</div>


{% else %}

  <p>You are not logged in</p>

  <a href="{% url 'login' %}">login</a>

{% endif %}

{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
